.main-content {
    width: 400px;
    height: 40px;
    background-color: #fa8a27;
    display: flex;
    justify-content: left;
    margin-left: 10px;
    padding-top: 8px;
    align-items: left;
    color: white;
    font-size: 16px;
  }
  
  .app {
    display: flex;
  }