.headColor {
    color: #fa8a27;
    font-weight: bold;
    font-size: 20px;
    background-color: #E6E4E0;
    padding: 10px;
}

.subColor {
    color: #fa8a27;
    font-weight: bold;
}

.phoneImgSec {
    background-color: #E6E4E0;
}

  